*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;                
    left: 400px;          
    right: 400px;         
    z-index: 1000;         
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;               
    background-color: rgba(84, 83, 83, 0.5);
    backdrop-filter: blur(10px); 
    padding: 15px 0px 10px 0px;
    font-size: 1.5rem;
    color: white;
    border-radius: 0px 0px 50px 50px;
}

header ul{
    list-style: none;
    float: right;
    display: flex;
    gap: 15px;
    text-align: center;
}

header ul a{
    text-decoration: none;
    color: white;
}

ul a:hover{
    color: lightgrey;
    text-decoration: underline;
}



header{
    background-image: url(assets/header_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;               
    width: auto;
}

.home_page{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0px 200px;
}

.home_page h1, h2{
    font-family: "baga", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
}

.home_page img{
    width: 300px;
    border-radius: 0px 100px;
    border: 5px solid rgb(0, 0, 0);
}

.home_page p{
    font-family: "scheme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 400px;
}

#projects{
    height: 180vh;
    background-color: rgb(236, 236, 236);

}

#projects h2{
    font-family: "baga", sans-serif;
    font-weight: 700;
    padding: 40px;
    text-align: center;
}

.project_list p{
    font-family: "scheme", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.project_list h3{
    font-family: "baga", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.project_item img{  
    width: 300px;
    border-radius: 20px;      
}

.project_item2 img{  
    width: 750px;
    border-radius: 20px;      
}

.project_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px 400px;
    padding: 0px 0px 0px 0px;
    
}
.project_item, .project_item2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why {
    height: 30vh;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    text-align: center;
}

.why h3{
    font-family: "baga", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.why p{
    font-family: "scheme", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}


.about_me {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.about_me > div {
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}


.about_me h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
    color: #2b2b2b;
}


.about_me h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #6c63ff;
    margin: 8px 0 15px;
    border-radius: 2px;
}


.about_me p {
    
    font-size: 1rem;
    color: #444;
}

.about_me li {
    font-size: 0.95rem;
    margin-bottom: 10px;
    color: #444;
}

#about h2{
    font-family: "baga", sans-serif;
    font-weight: 700;
    padding: 40px;
    text-align: center;
}

#about p{
    font-family: "scheme", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

#about li{
    font-family: "scheme", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

#about strong{
    font-weight: 600;
}