*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(assets/header_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;               
    width: auto%;
}

nav{
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;               
    background-color: rgba(84, 83, 83, 0.5);
    padding: 15px 0px 10px 0px;
    font-size: 1.5rem;
    color: white;
    margin: 0px 100px;
    border-radius: 0px 0px 50px 50px;

}

ul{
    list-style: none;
    float: right;
    display: flex;
    gap: 15px;
    text-align: center;
}

ul a{
    text-decoration: none;
    
}